#mystyle {
  color: black;
  text-align: center;
  font-size: 150%;
  font-style: italic
}
#newstyle {
  color: red;
  text-align: center;
  font-size: 120%;
  font-style: oblique
}
#box2 {
 display: block;
 background-color: yellow;
 width: 150px;
 height: 90px;
 padding-left: 40px;
 padding-left: 80 px;

 border: 8px dashed red;
 margin-left:50px;
 margin-top: 30px;
}
#for_span {
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
}
body {
	background-image:  url("image8.jpg");
	background-color: #cccccc;
}
#container {
	background: blue;
	width: 800px;
	margin: 0 auto;
}
#header {
	background: black;
	color: white;
	font-size: 30px;
	text-align: center;
	padding: 10px;
	border: 10px solid #E0FFFF;
}
#leftcol {
	width: 270px;
	height: 500px;
	background: #87CEEB;
	float: left;
	border: 10px solid #E0FFFF;
}
#rightcol {
	width: 390px;
	height: 500px;
	background: #5F9EA0;
	float: right;
	border: 10px solid #E0FFFF;
}
#thirdcol {
	width: 80px;
	height: 500px;
	background: #006400;
	float:left;
	border: 10px solid #E0FFFF;
}
#footer {
	background: #1e2233;
	color: white;
	font-size: 20px;
	text-align: center;
	padding: 5px;
	border: 10px solid #E0FFFF;
}
#maintext {
	padding: 20px;
	font-family: Trebuchet MS, sans-serif;
}
#text1 {
	font-weight: 600;
	font-size: 30pt;
	color: white;
}
#text2 {
	font-weight: 900;
	font-family: /Courier, monospace/;
	font-size: 30pt;
	margin: 20;
	color: white;
}
#button {
	font-family: Trebuchet MS;
	background: #426382;
	color: white;
	width: 332px;
	padding: 20px;
	margin-top: 20px;
	cursor: pointer;
	display: inline-block;
}
#dropdown {
	position: relative;
	display: inline-block;
	position: absolute;
	color: white;
}
#dropdown-child {
	display: none;
	background: #426382;
	color: white;
	width: 332px;
}
#dropdown:hover #dropdown-child {
	display: block;
}
ul {
  list-style: none; /*убираем маркеры списка*/
  margin: 0; /*убираем верхнее и нижнее поле, равное 1em*/
  padding-left: 0; /*убираем левый отступ, равный 40px*/
}
a {text-decoration: none; /*убираем подчеркивание текста ссылок*/}
#menubox0 {
	background: #426382;
	color: white;
	width: 332px;
	padding: 20px;
	margin-top: 20px;
	cursor: pointer;
	display: inline-block;
}
#menubox1 {
	background: #426382;
	color: white;
	width: 332px;
	padding: 20px;
	margin-top: 0px;
	cursor: pointer;
	display: inline-block;
	font-family: Trebuchet MS, sans-serif;
}
#menubox2 {
	font-family: Trebuchet MS;
	background: #426382;
	color: white;
	width: 332px;
	padding: 20px;
	margin-top: 20px;
	cursor: pointer;
	display: inline-block;
	margin-right: 8px;
}
#menubox3 {
	background: #426382;
	color: white;
	width: 332px;
	padding: 20px;
	margin-top: 20px;
	cursor: pointer;
	display: inline-block;
}
#mainboxtext1 {
	width: 550px;
	border: 5px solid;
	margin-left: 30px;
	margin-top: 30px;
	display: inline-block;
	text-align: left;
	font-size: 20pt;
	background: linear-gradient(to top, #66CDAA, #008080);
}
#text3 {
	font-weight: 600;
	font-family: Brush Script MT, cursive;
	font-size: 30pt;
	margin-top: 25px;
	margin-left: 500px;
}
#imageholder {
	margin-left: 400px;
	display: inline-block;
}
#text4 {
	font-weight: 600;
	font-size: 20pt;
	font-family: Trebuchet MS;
}
#imageholder2 {
	height: 100px;
	margin-bottom: 200px;
	display: inline-block;
}
#history_text {
	font-family: Trebuchet MS;
	width: 500;
}
#text_block1 {
	font-family: Trebuchet MS;
	background-color: white;
	font-size: 20pt;
	MARGIN-TOP: 10px;
	margin-left: 50px;
	margin-right: 50px;
}
#table_style {
	font-family: Trebuchet MS;
	font-size: 25px;
}
#font-table {
	font-family: Trebuchet MS;
	font-size: 15px;
}